@import '';

/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-y20gv7gu0x] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-y20gv7gu0x] {
    flex: 1;
}

.sidebar[b-y20gv7gu0x] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-y20gv7gu0x] {
    background-color: #06163D;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-y20gv7gu0x]  a, .top-row .btn-link[b-y20gv7gu0x] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-y20gv7gu0x] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-y20gv7gu0x] {
        display: none;
    }

    .top-row.auth[b-y20gv7gu0x] {
        justify-content: space-between;
    }

    .top-row a[b-y20gv7gu0x], .top-row .btn-link[b-y20gv7gu0x] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-y20gv7gu0x] {
        flex-direction: row;
    }

    .sidebar[b-y20gv7gu0x] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-y20gv7gu0x] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-y20gv7gu0x] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/SideNavigation.razor.rz.scp.css */
.navbar-toggler[b-ib2lspp761] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-ib2lspp761] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-ib2lspp761] {
    font-size: 1.1rem;
}

.oi[b-ib2lspp761] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-ib2lspp761] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-ib2lspp761] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-ib2lspp761] {
        padding-bottom: 1rem;
    }

    .nav-item[b-ib2lspp761]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-ib2lspp761]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-ib2lspp761]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-ib2lspp761] {
        display: none;
    }

    .collapse[b-ib2lspp761] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
/* /Shared/TopNavigation.razor.rz.scp.css */

.top-row .dropdown-menu .dropdown-item[b-fxkarjv7vw] {
    margin: 0 !important;
}

.nav-link[b-fxkarjv7vw] {
    color: #FFF !important;
}

.new-notification-item[b-fxkarjv7vw] {
    margin-bottom:5px !important;
}

.new-notification-item:nth-child(odd)[b-fxkarjv7vw] {
}

.new-notification-item:nth-child(even)[b-fxkarjv7vw] {
    background-color: #eef3f8 !important;
}

.new-notification-menu[b-fxkarjv7vw] {
    padding: 5px !important;
}
