@page "/"

@inject IApiTestService apiTestService;
@inject IJSRuntime jsRuntime

<h1>Hello, world!</h1>

Welcome to your new app.

@code{
    protected override async Task OnInitializedAsync()
    {
        var response = await apiTestService.ApiTestInfo();

        if (!string.IsNullOrWhiteSpace(response))
        {
            await jsRuntime.ShowToastr("success", $"API connection test successfull.API says: {response}");
        }
        else
        {
            await jsRuntime.ShowToastr("error", $"API connection test failed.");
        }
    }
}