@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <AuthorizeView>
            <Authorized>
                <div class="top-row px-4">
                    <span>Hello, @Username</span> &nbsp; &nbsp;<a href="/account/logout" class="btn btn-secondary">Log Out</a>
                </div>
            </Authorized>
        </AuthorizeView>


        <div class="container-fluid content px-4">
            @Body
        </div>
    </div>
</div>

@code{
    [CascadingParameter]
    Task<AuthenticationState> AuthenticationState { get; set; }

    public string Username { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        var authState = await AuthenticationState;
        Username = authState.User.Identity.GetUsername();
    }
}
