@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <AuthorizeView>
            <Authorized>
                <div class="top-row px-4">
                    <TopNavigation></TopNavigation>
                </div>
            </Authorized>
        </AuthorizeView>
        <div class="container-fluid content px-4">
            @Body
        </div>
    </div>
</div>

@code{

}
